.detealed-container {
    display: flex;
    margin: 0 auto;
    width: 72%;
    margin-top: 30px;
    height: 500px;

    .description-container {
        background-color: rgb(237, 237, 237);
        text-align: center;
    }
}